In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

# Test data (dummy)

In [ ]:
test.head()

      series_id  step                 timestamp  anglez  enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400   2.637 0.022
1  038441c925bb     1  2018-08-14T15:30:05-0400   2.637 0.022
2  038441c925bb     2  2018-08-14T15:30:10-0400   2.637 0.022
3  038441c925bb     3  2018-08-14T15:30:15-0400   2.637 0.021
4  038441c925bb     4  2018-08-14T15:30:20-0400   2.637 0.022

In [ ]:
# look at unique series_id in test
test['series_id'].unique(), test.shape

(array(['038441c925bb', '03d92c9f6f8a', '0402a003dae9'], dtype=object),
 (450, 5))

- 3 users, 150 steps for each

### Final ideas
- Since labels are all on exact minute (00 seconds), the hidden test data may be as well. __Rounding preds to exact minute__ may increase precision